# Image processing and array manipulation
opencv-python
numpy
pandas

# ESRGAN and Deep Learning utilities
#basicsr look for alternative if not able to install
basicsr
tqdm
scikit-learn
matplotlib

#for dashboar
streamlit